.container{
  padding: 30px;
  background-color: #4ae44a;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 250px !important;
  height: 250px;
  border-radius: 10px;
}
.modal-overlay{
  background: white;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-content{
  width: 90%;
  max-width: 500px;
  background-color: #4ae44a;
  padding: 10px;
  border: solid 1px black;
  border-radius: 5px;
}
.botaoCloseModal{
  padding: 5px;
  font-size: large;
  float: right;
  cursor: pointer;
  border-radius: 7px;
  border: none;
  background-color: green;
  color: white;
}
.cards{
  display: flex;
  flex-direction: row;
  gap: 5px;
  flex-wrap: wrap;
}
.fotoremedio{
  width: 110px;
  height: 110px;
}
.bodylista{
  gap: 25px;
  display: flex;
  flex-direction: column;
}
.formlogin{
  height: 300px;
  max-width: 500px !important;
  border-radius: 10px;
  background-color:#4ae44a ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}
.bodylogin{
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.fotoclamed{
  width: 100px;
  height: 70px;
}
.fotoemoji{
  width: 200px;
  height:200px;
}
.naologado{
  width: 100vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bodycadmed{
  padding: 20px;
}
.bodycadfarm{
  padding: 20px;
}
.btndetalhes{
  border-radius: 7px;
  color: #27a327;
  background-color: white;
  border: none;
}
.btnsair{
  border-radius: 7px;
  background-color: #27a327;
  color: white;
  border: none;
}
.sair{
  float:right;
}
.bntfazerlogin{
  border-radius: 7px;
  background-color: #27a327;
  color: white;
  border: none;
}